%p{:style => "font-size: 1.3em;"}
  Estou familiarizado com os prcedimentos descritos no
  %b>
    %u= link_to "Formulário de Consentimento", "/docs/FMSurvey_Consent.pdf"
  \.
%p{:style => "font-size: 1.3em;"}
  Todas as minhas dúdvidas foram esclarecidas e aceito participar neste estudo. Eu tenho conhecimento que posso
  %b
    %u= link_to "descarregar uma cópia do formulário de consentimento", "/docs/FMSurvey_Consent.pdf"
  para referencia futura.
%p
  = link_to "Eu nao aceito", {:controller => "pages", :action => "deactivate_user"}, :class=>'button'
  = link_to "Eu aceito", {:controller => "pages", :action =>  "accept_consent"}, :class=>'button'
